*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

header{
    padding:20px;
    text-align:center;
}

header h1{
    font-size:32px;
    margin-bottom:15px;
}

header input{
    width:90%;
    max-width:500px;
    padding:12px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

.hero{
    text-align:center;
    padding:50px 20px;
}

.hero h2{
    font-size:35px;
    margin-bottom:10px;
}

.hero p{
    color:#cbd5e1;
}

.calculators{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    transition:.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-8px);
    background:#334155;
}

footer{
    text-align:center;
    padding:20px;
    color:#94a3b8;
}